# NPM Config
# https://docs.npmjs.com/cli/v9/configuring-npm/npmrc
#
# NOTE:
# - Using private packages in a CI/CD workflow
#   https://docs.npmjs.com/using-private-packages-in-a-ci-cd-workflow

# Set Registry to Publish To
#
# NOTES:
# - Use to Github Packages instead of NPM Packages (https://registry.npmjs.org/)
# - Setting registry here will not affect registry for npm login (https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry)
@littlecornerdev:registry=https://npm.pkg.github.com

# Set Auth Token with Publish Access
#
# NOTES:
# - Token should be PAT with packages scope.
#   https://docs.github.com/en/packages/learn-github-packages/introduction-to-github-packages#authenticating-to-github-packages
#
# - Read value from environment variable via shell or .env
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}